<h1>Books</h1>
<p>Available as of <%= formatted_time(@available_at) %></p>
<ol>
<% @books.each do |book| %>
<li><%= link_to(book.title, book) %> by <%= book.author %> </li>
<% end %>
</ol>
<%= link_to 'New Book', new_book_path %>
